* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  min-height: 100vh;
  padding: 1rem;
}

.not-found__title {
  align-self: center;
}

.not-found__image {
  align-self: center;
  max-height: 75vh;
}

.footer {
  display: flex;
  justify-content: center;

  margin-top: auto;
}